.projectList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 50px auto 0;
    width: 112px;
    height: 32px;
}

.header {
    margin: 8px auto 24px;
    max-width: 332px;
    width: 100%;
    height: 34px;
    color: #E4A1B6;
    border-bottom:2px solid #E4A1B6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 6px;

    .title {
        font-weight: 800;
        font-size: 14px;
    }

    .create-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}
