.row-counter {
  min-width: 120px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #F4DAE2;
  color: #F4DAE2;
  font-size: 14px;
  font-weight: 800;
  background-color: white;
}
