.edit-page-container {
    margin-top: 60px;
  
    .header {
      display: flex;
      align-items: center;
      margin: 0px 50px 32px 10px;

      div {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      
        svg {
          color: #E4A1B6;
          width: 24px;
          height: auto;
        }
      }
  
      h3 {
        margin: auto;
      }
    }
  
    form {
      margin: 0px 28px;
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      label {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #E4A1B6;
      }
  
      .description-label {
        display: flex;
        align-items: center;
        gap: 6px;
  
        svg {
          color: #EECAD5;
          width: 18px;
          height: auto;
        }
      }
  
      input, textarea {
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        height: 36px;
        padding: 6px;
        font-size: 14px;
        color: #7D7268;
        margin-top: 8px;
      }
  
      textarea {
        background-color: #fff;
        height: 164px;
      }
  
      textarea::placeholder {
        color: #7D7268;
        opacity: .8;
      }
  
      .chart-button {
        width: 112px;
        height: 28px;
        background-color: #99CBE7;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        font-weight: 800;
        font-size: 14px;
        border-radius: 6px;
        margin-bottom: 12px;
        cursor: pointer;
        align-self: flex-start;
  
        svg {
          width: 16px;
          height: auto;
          stroke-width: 80px;
        }
      }
  
      p {
        font-size: 14px;
        color: #7D7268;
        margin-top: 4px;
      }
    }
  
    button {
      align-self: center;
    }
  }
  
  